.logo{
    color: #fff !important;
    margin-left: 0px !important;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}