.title {
    font-weight: bold !important;
    margin-bottom: 1em !important;
    font-size: 1.2 !important;
    color: black !important;
}

.upload{
    position: relative;
    width: 100%;
}

#predictBtn{
    position: relative;
    float: right;
    right: 0!important;
}